In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Titles and Paragraphs

In [3]:
#splinter
#setup path & initialize browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\smith\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

In [4]:
# visit url
url = "https://redplanetscience.com/"

# open the url

browser.visit(url)

In [5]:
# html and soup object
html = browser.html

soup = bs(html, "html.parser")

In [6]:
# collect the latest News Title and Paragraph Text

news_title = soup.find("div", class_="content_title").text
paragraph = soup.find("div", class_="article_teaser_body").text
print(news_title)
print("----------------")
print(paragraph)

Curiosity Mars Rover's Summer Road Trip Has Begun
----------------
After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.

In [7]:
# JPL Mars Space Images - Featured Image

In [8]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)


images_url = "https://spaceimages-mars.com/"

browser.visit(images_url)

html = browser.html

images_soup = bs(html, 'html.parser')

mars_image = images_soup.find("img", class_="headerimage fade-in").get("src")
print(mars_image)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\smith\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

image/featured/mars2.jpg

In [9]:
# Mars Facts

In [10]:
facts_url = "https://galaxyfacts-mars.com/"
    
#pandas "read_html"
table = pd.read_html(facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
# dataframe
facts_df = table[0]
facts_df

facts_df.columns=["Comparison", "Mars", "Earth"]
facts_df

                Comparison             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [20]:
# df to html

mars_html_table = facts_df.to_html()
mars_html_table.replace('\n', '')
print(mars_html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Mars - Earth Comparison</td>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [24]:
# Mars Hemispheres

hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://marshemispheres.com/valles.html#open"},
    {"title": "Cerberus Hemisphere", "img_url": "https://marshemispheres.com/cerberus.html#open"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://marshemispheres.com/schiaparelli.html#open"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://marshemispheres.com/syrtis.html#open"},
]
print(hemisphere_image_urls)

[{'title': 'Valles Marineris Hemisphere', 'img_url': 'https://marshemispheres.com/valles.html#open'}, {'title': 'Cerberus Hemisphere', 'img_url': 'https://marshemispheres.com/cerberus.html#open'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://marshemispheres.com/schiaparelli.html#open'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://marshemispheres.com/syrtis.html#open'}]